@import "variables.scss";
@import "reset.scss";

.top-shadow {
    height: 470px;
    background-color: #F7F9FD;
    border-radius: 0px 0px 0px 300px;
    margin-bottom: 89px;

    @media (max-width:768px) {
        height: 495px;
    }
    @media (max-width:768px) {
        height: 567px;
    }
}

.bg-setting{
    width: 100%;
    background:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner.svg) no-repeat top right / auto 559px;
    z-index: -1;

    @media (max-width:768px) {
        background:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner.svg) no-repeat top right / auto 480px;    
    }
    @media (max-width:376px) {
        background:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/banner_sm.svg) no-repeat top 72px right / 100vw; 
    }
}

.bg-setting-ball{
    background:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball03.svg) no-repeat top 300px left -25% / 361px 361px;
    @media (max-width:768px) {
        background:url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/ball03.svg) no-repeat top 660px left -25% / 180px 180px; 
    }
}

.wrap{
    max-width: 1128px;
    padding: 0 20px;
    margin: 0 auto;
}

h1{font: normal normal bold 48px/70px Noto Sans TC;}
h2{font: normal normal bold 32px/46px Noto Sans TC;}
h3{font: normal normal bold 24px/35px Noto Sans TC;}
h4{font: normal normal normal 18px/28px Noto Sans TC;}
.card-form{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    @media (max-width:768px) {
        margin-bottom: 24px;
    }
}
.button-green{
    font: normal normal normal 18px Comfortaa;
    border-radius: 27px;
    border: 0;
    width: 136px;
    padding: 12px 0;
    color: #FFFFFF;
    background-color: $bluegreen;
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}
.top-btn{
    font: normal normal bold 18px/19px Wendy One;
    border-radius: 50%;
    width: 71px;
    height: 71px;
    position: fixed;
    right: 48px;
    bottom: 24px;
    z-index: 5;

    @media (max-width:768px) {
        width: 50px;
        height: 50px;
        right: 24px;
        bottom: 24px;
    }
}
.button-orangered{
    font: normal normal normal 16px/24px Noto Sans TC;
    border-radius: 22px;
    border: 0;
    width: 128px;
    padding: 8px 0;
    color: #FFFFFF;
    background-color: $orangered;
    &:hover {
        cursor: pointer;
        opacity: 0.5;
    }
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 24px 20px;
    margin-bottom: 92px;
    img{
        height: 40px;
    }
    @media (max-width:768px) {
        background-color: white;
        border-bottom: solid 2px $gray;
    }
    @media (max-width:568px) {
        margin-bottom: 0;
        img{
            display: inline-block;
            align-items: center;
            height: 24px;
            margin: 8px 0;
        }
        button{
            padding: 8px 0;
        }
    }
}

.first-sec{
    padding: 0 20px 280px 20px;
    text-align: left;
    h1{
        margin-bottom: 16px;
    }
    @media (max-width:992px) {
        padding: 140px 20px 140px 20px;
    }
    @media (max-width:568px) {
        padding: 300px 20px 140px 20px;
        h1{
            font: normal normal bold 32px/46px Noto Sans TC;
        }
        p{
            font: normal normal bold 16px/24px Noto Sans TC;
        }
    }
    @media (max-width:376px) {
        padding: 48px 20px 401px 20px;
    }
}

.second-sec{
    width: 83.548%;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    h2{
        margin-bottom: 48px;
    }

    .plan-active{
        background: #56C4C5;
        color: #fff;
    }

    .second-plan{
        width: 81%;
        margin: 0 auto;
        margin-bottom: 16px;
        display: flex;
        justify-content: space-between;
        gap: 16px;
        overflow-x: auto;
        .btn-plan{
            font: normal normal normal 18px/26px Comfortaa;
            padding: 11px 32.5px;
            border: 1px solid #56C4C5;
            border-radius: 27px;
            display: block;
            white-space: nowrap;
            text-decoration: none;
            &:hover {
                cursor: pointer;
                font-weight: bold;
                color: #FFFFFF;
                border: 2px solid black;
                background: #56C4C5;
            }
            p{
                display: inline-block;
            }
        }
    }
    .two-cards{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .card-form{
            width: 48.845%;
            padding-bottom: 32px;
            h3{
                padding: 10px 0 16px 0;
                border-bottom: 1px solid #DDDDDD;
                margin-bottom: 32px;
            }
        }
        .brief-intro{
            font: normal normal bold 16px/24px Noto Sans TC;
        }
        .plan-to-charge{
            padding: 32px 0;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            .shadow{
                width: 38.063%;
                background-color: #F5F5F5;
                padding: 24px 0 18px 0;
                border-radius: 12px;
                font: normal normal normal 12px/17px Noto Sans TC;
            }
            .text-change-basic-charge, .text-change-normal-charge, .text-change-subscribe{
                display: inline-block;
                padding-top: 8px;
                font: normal normal normal 32px/35px Comfortaa;
            }
            .color-change{
                color: $bluegreen;
            }
            .equal{
                font: normal normal normal 29px/42px Noto Sans TC;
            }
        }
        .t-a-left{
            font: normal normal normal 16px/24px Noto Sans TC;
            text-align: left;
            background: url(http://localhost:8080/Github/HW_chatTalker/chatTalker_images/checkmark-outline.svg) top left 30px no-repeat;
            padding:0 0 16px 61.5px;
        }
        .button-green{
            margin: 16px 0;
        }
    }
    @media (max-width:768px) {
        width: 100%;
        h2{
            margin-bottom: 24px;
        }
        .second-plan{
            width: 80%;
            margin-bottom: 32px;
            gap: 6px;
            .btn-plan{
                font: normal normal normal 16px/24px Comfortaa;
                padding: 8px 16px;
            }
        }
        .two-cards{
            width: 100%;
            margin: 0 auto;
            flex-wrap: wrap;
            .card-form{
                width: 100%;
                padding-bottom: 24px;
            }
            h3{
                padding: 16px;
                margin-bottom: 24px;
            }
            .plan-to-charge{
                padding: 24px 0 27px 0;
            }
            .t-a-left{
                font: normal normal normal 14px/20px Noto Sans TC;
            }
        }
        .shadow{
            width: 41.5%;
        }

    }
    @media (max-width:568px) {
        .second-plan{
            width: 89.33%;
        }
        h2{
            font: normal normal bold 28px/40px Noto Sans TC;
        }
    }
}

.third-sec{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
    h2{
        text-align: center;
        padding-bottom: 32px;
    }
    .card-form{
        margin-top: 16px;
    }
    .card-top-part{
        h4{
            padding: 16px 0;
        }

        .minus{
            display: none;
        }
    }
    p{
        font: normal normal normal 16px/32px Noto Sans TC;
    }
    .accordion-button::after {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_plus.svg);
    } 
    .accordion-button:not(.collapsed){
        color: $bluegreen;
        background-color: white;
        box-shadow: none;
        border-radius: 12px;
    }
    .accordion-button:not(.collapsed)::after {
        background-image: url(https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/53d3c0b0e4d2885789ac1fcb666e427365a39207/chatTalker_images/icon_minus.svg);
    }
    .accordion-button:focus {
        box-shadow: none;
    }
    .accordion-button {
        border-radius: 12px;
    }
}

.footer{
    text-align: center;
    p{
    font: normal normal normal 16px/24px Noto Sans TC;
    padding: 16px 0;
    background-color: $lightgray;
    }
}